#root {
  width: 70%;
  margin: 0 auto;
}

.wrap {
  background-color: #eee;
  border: 1px solid #777;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-text {
  display: inline-block;
  width: 120px;
}

input[type="number"] {
  width: 25%;
  margin-right: 10px;
}
